In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('u.data')

In [3]:
df.head()

      0\t50\t5\t881250949
0    0\t172\t5\t881250949
1    0\t133\t1\t881250949
2  196\t242\t3\t881250949
3  186\t302\t3\t891717742
4   22\t377\t1\t878887116

1. Description
2. diagnosis
3. Prediction
4. Acyions/Prescription

In [4]:
cols = ['user_id','movie_id','rating','ts']

In [5]:
# Read the file
df = pd.read_csv('u.data',sep='\t', names=cols)

In [6]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [8]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

Try to find out differ Data
1. string with catagorical info
2. string with random stuff
3. no. with quantified info
4. no. eith catagorical info
5. Random no. or ID sort od data

df.columns

In [9]:
Index(['user_id','movie_id','rating','ts'], dtype='object')

NameError: name 'Index' is not defined

In [ ]:
df['rating'].unique()

In [ ]:
 #read the other file
df1 = pd.read_csv('u.item',sep='|',names = item_cols,encoding = "150-8859-1")

In [ ]:
rating.sort_values(by='count', ascending=False).head(20)

In [ ]:
movie_pivot.head()